body {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
  background-color: rgb(17, 26, 26);
  text-align: center;
}

.App {
  background-color: rgb(27, 22, 58);
  color: rgb(255, 255, 255);
}

h1 {
  margin: 5px 0px;
}

p {
  margin-bottom: 10px;
}

ul {
  width: 90%;
  margin:0px auto;
  display: flex;
  flex-wrap: wrap;
}

.container {
  margin: 10px auto;
  background-color: rgb(31, 30, 30);
  padding: 30px;
  max-width: 1200px;
  margin: 0 auto;
  border: none;

}

.header {
  text-align: center;
  margin-bottom: 50px;
}

.content {
  display: flex;
}

.content .left {
  width: 25%;
  flex-direction: row;
  background-color: rgb(25, 25, 28);
  margin-bottom: 50px;
  padding-top: 30px;
}

.catFact {
  margin-top: 20px;
  font-size: 30px;
}

.content .right {
  width: 75%;
  display: flex;
  align-items: stretch;
}

.list {
  width: 33.33%;
  justify-content: space-evenly;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 0;

}

img {
  /* max-width: 260px; */
  display: inline-block;
  height: fit-content;
  width: 100%;
  padding: 0;
  margin: 0;
  object-fit: cover;
}

